.green-icon svg {
  fill: rgba(94, 236, 75, 0.774);
}
.green-icon {
  color: rgba(94, 236, 75, 0.774);
  display: block;
  margin: auto;
}

.red-icon svg {
  fill: rgba(207, 52, 40, 0.87);

}
.red-icon {
  color: rgba(207, 52, 40, 0.87);
  text-align: center;
  display: block;
  margin: auto;
}

.gray-icon {
  color: rgb(85, 85, 85);
  display: block;
  margin: auto;
}

.gray-icon svg {
  fill: rgb(85, 85, 85);
}

#devices-list {
  display: block;
  width: 800px;
}
#devices-list > table {
  width: 100%;
}
#devices-list .mat-header-row {
  height: 40px;
}

#devices-list .mat-toolbar-single-row {
  padding-left: 24px;
  padding-right: 24px;
  height: 50px;
}
#devices-list .mat-header-cell {
  text-align: center;
}
#devices-list .mat-cell {
  text-align: center;
}
#devices-list .mat-column-name {
  text-align: left;
}
.mat-column-state {
  width: 50px;
}
/* .cdk-column-status {
  width: 20px;
  text-align: center;
  float: right;
} */

#devices-list .cdk-row {
  height: 50px;
}
