<div id="devices-list" class="mat-elevation-z8">
  <!-- <mat-toolbar color="primary" class="center-text">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="onImport()">Google Table</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu">
      Import
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button color="accent" (click)="onUpdateState()">
      <mat-icon svgIcon="update" class="grey-icon"></mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="onAdd()">
      <mat-icon svgIcon="plus" class="grey-icon"></mat-icon>
    </button>
  </mat-toolbar> -->

  <div class="table">
    <div class="header-row">
      <ng-container *ngFor="let h of displayedColumns; let i=index">
        <div class="col">
          {{h}}
        </div>
      </ng-container>
    </div>
    <ng-container *ngFor="let row of data">
      <div  class="row">
        <ng-container *ngFor="let cell of row">
          <div class="col">
            {{cell}}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
