<div class="mat-elevation-z8">
  <div class="table">
    <div class="header-row">
      <ng-container *ngFor="let h of displayedColumns; let i=index">
        <div class="col">
          {{h}}
        </div>
      </ng-container>
    </div>
    <ng-container *ngFor="let row of data">
      <div class="row">
        <ng-container *ngFor="let cell of row">
          <div class="col">
            {{cell}}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<div class="example-button-container">
  <button mat-fab color="warn" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
</div>
