<div>
  <form [formGroup]="controllerForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="add-controller-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="controllerForm.controls['name'].hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="IP" formControlName="ip">
              <mat-error *ngIf="controllerForm.controls['ip'].hasError('required')">
                IP is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Protocol" formControlName="protocol">
                <mat-option *ngFor="let protocol of protocols" [value]="protocol.abbreviation">
                  {{ protocol.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="controllerForm.controls['protocol'].hasError('required')">
                Protocol is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Login" formControlName="login">
              <mat-error *ngIf="controllerForm.controls['login'].hasError('required')">
                Login is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Comment" formControlName="comment"></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
